<br>
<div class="mt-5 container">
  <div class="row col-lg-12">
    <h1 *ngIf="h1Bool" >Ingresa tus datos</h1>
    <h3 *ngIf="afterCall" class="text-success">Genial!!!, se procesaron tus datos</h3>
    <h4><small></small></h4>
  </div>
   <div class="row">
        <form class="col-sm-4" (ngSubmit)="sendForm()" #personForm="ngForm">
           <div class="col-sm-12">
              <div class="row">
                 <div class="col-lg-12 form-group">
                    <label>Nombre Completo</label>
                    <input required ngModel  type="text" class="form-control" id="personName" #personName="ngModel" name="personName" [(ngModel)]="personDto.fullName" [placeholder]="placeholder"  maxlength="50">
                 </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                   <label>Fecha Nacimiento</label>
                   <input type="date" class="form-control" name="fechaNacimiento" min="1970-01-01" max="2020-12-31" [(ngModel)]="personDto.dateOfBirthday" required >
                </div>
             </div>
             <div class="row">
                <div class="col-sm">
                  <button type="submit" class="mr-3 btn btn-lg btn-info" [disabled]="!personForm.valid">Enviar</button>
                  <button type="button" class="btn btn-lg btn-warning" (click)="cleanForm()">Limpiar</button>
                </div>
            </div>
           </div>

           <h2 *ngIf="internalServerError" class="text-danger">Error !!, problemas con el servidor. </h2>
           <h2 *ngIf="error" class="text-warning">Error !!, ingrese bien los campos. </h2>
           <h2 *ngIf="error" class="text-warning">{{errorName}}</h2>

        </form> 

             <div *ngIf="afterCall" class="row ml-5 ">
               <table class="table">
                 <thead>
                   <tr>
                     <th class="text-info"><h3>Nombre</h3></th>
                     <th class="text-info"><h3>Apellido</h3></th>
                     <th class="text-info"><h3>Fecha Nacimiento</h3></th>
                     <th class="text-info"><h3>Edad</h3></th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td class="body"><h4>{{responsePerson.personName}}</h4></td>
                     <td class="body"><h4>{{responsePerson.personLastname}}</h4></td>
                     <td class="body"><h4>{{responsePerson.dateOfBirthday}}</h4></td>
                     <td class="body"><h4>{{responsePerson.personAge}}</h4></td>
                     <td *ngIf="afterCall" class="body text-info"><h4>{{responsePerson.remainingDays}}</h4></td>
                   </tr>
                 </tbody>
               </table>
            </div>

               
               <h2 *ngIf="isBirthday" class="text-warning" >Felicidades !!, hoy es tu cumpleaños, te dedico este poema</h2>
               <div *ngIf="isBirthday" class="poem">
                 <h3 >{{responsePerson.birthdayCongratulations}}</h3>
               </div>

            

     </div>

</div>
<router-outlet></router-outlet>

 <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
        >
          <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>